<section class="academia-collaboration">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<p class="intro">インサイトテックは京都大学の黒橋・河原研究室と連携し、文章解析技術のビジネス活用を進めています。<br>最先端の文章解析技術によって、膨大な文章の中から、必要とする示唆を抽出することができます。</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<ul class="items list-unstyled">
					<li>
						<p class="text-center mb-0"><img src="../assets/images/insighttech_logo.png" class="img-fluid"></p>
						<h5 class="text-center font-weight-bold">最新の言語処理研究のビジネス応用<br>共同研究・オープンデータによる学術貢献</h5>
						<p>インサイトテックはアカデミアとの連携で最新技術のビジネス活<br>用を推進します。大学との共同研究やインターンの受け入れ、<br>オープンデータの推進を通じた学術貢献も大切にしています。</p>

						<ul>
							<li>学術研究目的でのデータ提供</li>
							<li>データサイエンスハッカソンへのデータ提供</li>
							<li>インターンの受け入れ、共同研究の推進</li>
							<li>学会活動の支援、積極的な情報発信</li>
						</ul>
					</li>

					<li>
						<p class="text-center mb-0"><img src="../assets/images/koyoto-university-logo.png" class="img-fluid"></p>
						<h5 class="text-center font-weight-bold">言語理解の構造的研究<br>文章単位の構文解析のような自然言語処理の研究</h5>

						<div class="clearfix">
							<div class="row">
								<div class="col-lg-8 col-md-8 col-sm-8 col-8">
									<p>「インサイトテック」への期待<br><br>人々の声を可視化・定量化することは、企業や 行政による社会課題解決の基盤であり、 自然 言語処理の研究成果が大いに活用される場であ ると考えます。 「インサイトテック」はアカデ ミアとの共同研究や、研究利用のためのデータ 公開、学会発表などに積極的な企業です。 今後 も、自然言語処理研究の社会展開を活発に行っ ていただくことを期待致します。</p>
									<p>共同研究パートナー<br>京都大学 教授 黒橋禎夫</p>
								</div>

								<div class="col-lg-4 col-sm-4 col-4">
									<img src="../assets/images/professor_img.png" class="img-fluid">
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-8 col-md-6 col-sm-6 col-6 text-right">
				
			</div>
			<div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6 col-6 text-right">
				<a href="http://lab.insight-tech.co.jp/articles/62/"><img src="../assets/images/academia-collaboration-footer.png" class="img-fluid"></a>
			</div>
		</div>
	</div>
</section>