<section class="articles">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<h2 class="title text-center">インサイトテックラボから最新記事</h2>

				{# {% import 'macros/articles.html' as article %} {{ article.params([{cat: '調査レポート', title: 'スマートフォンに関する 調査レポート', excerpt: '調査概要 調査対象：不満買 取センター会員 1,500ss…'}, {cat: '調査レポート', title: 'スマートフォンに関する 調査レポート', excerpt: '調査概要 調査対象：不満買 取センター会員 1,500ss…'}, {cat: '調査レポート', title: 'スマートフォンに関する 調査レポート', excerpt: '調査概要 調査対象：不満買 取センター会員 1,500ss…'}, {cat: '調査レポート', title: 'スマートフォンに関する 調査レポート', excerpt: '調査概要 調査対象：不満買 取センター会員 1,500ss…'}]) }} #}

				<ul class="items list-unstyled">
					
				</ul>
			</div>
		</div>
	</div>
</section>