<section class="case-study">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<p class="intro">インサイトテックは独自の文章解析AIとそのビジネス応用力を活かし、数多くの企業様の課題解決・価値創出をご支援してきました。これからもご期待に応えるべく独自性を高めてまいります。</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
				<div id="slide-one" class="owl-carousel owl-theme">
					<div class="item">
						<p class="text-center"><img src="../assets/images/case-study-1.png" class="img-fluid"></p>
						<p class="text-center">パナソニック株式会社<br>&nbsp;</p>
						<p class="text-center font-weight-bold">社内にある膨大な文書データを解析し、<br>ナレッジ抽出や優先順位付けに活用</p>
						<p>社内の膨大な文書データの分析に、インサイトテックの文章解析サービス「ITAS」を利用しました。すると「意見タグAI」「可視化AI」を活用することで、文書データ全体のボリュームの把握と可視化が可能に。さらに「感情分類AI」の活用により文書データの優先順位を付けることが可能となり、スピーディーにナレッジ抽出を行うことができました。これまで利用していた従来のテキストマイニングとは一線を画す、「課題解決の決め手に繋がる」文章解析サービスだと感じています。</p>
					</div>
					<div class="item">
						<p class="text-center"><img src="../assets/images/case-study-2.png" class="img-fluid"></p>
						<p class="text-center">フランスベッド株式会社様生産開発本部<br>&nbsp;</p>
						<p class="text-center font-weight-bold">モニター調査では見えにくい「本音」を<br>商品開発に活かし、売上台数が4倍に</p>
						<p>20代に向けた新しいベッドの商品開発の際に、モニター調査では見えにく い自然発生的な声の中に生活者の本音があると考え、インサイトテックの 「不満インサイトデータ」を活用しました。すると若い世代の間では「引 き出し付きヘッドボード」の需要が大きいことや、「ベッド上でのスマホ 利用に適したコンセントの位置」に大きなニーズがあることが判明。これら をヒントに新商品を開発し販売したところ、通常商品の4倍の台数が売れる ヒット商品となりました。</p>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
				<div id="slide-two" class="owl-carousel owl-theme">
					<div class="item">
						<p class="text-center"><img src="../assets/images/case-study-3.png" class="img-fluid"></p>
						<p class="text-center">株式会社J-オイルミルズ<br>&nbsp;</p>
						<p class="text-center font-weight-bold">生活者の声から食へのインサイトを理解、<br>流通向けの商品開発・提案に活用</p>
						<p>J-オイルミルズでは、生活者の食嗜好やライフコースの変化、多様性に適した商品企画、流通向けの提案を実施しています。生活者からのノンバイアスな「不満インサイトデータ」と、これを理解する文章解析AI「ITAS」を活用することで、食に対するインサイトのコア（核心価値）だけではなく、より価値実感を高めるサブコア（ 辺価値）を理解することができました。この手法とフレームワークを主力領域のマーケティング活動に横断的に活用しています。</p>
					</div>
					<div class="item">
						<p class="text-center"><img src="../assets/images/case-study-4.png" class="img-fluid"></p>
						<p class="text-center">伊藤ハム株式会社様加工食品事業本部 事業戦略統括部<br>マーケティング部 MKプランニング室室長 塙平様</p>
						<p class="text-center font-weight-bold">自社に直接届かない声を定期的に把握し、<br>商品開発や改善提案に活用</p>
						<p>伊藤ハムでは、コンビニエンスストアで販売するフランクフルトやお弁当、 菓子パンといった商品や、ファミリーレストランに提供するハンバーグなど の業務用商品も大きな売上を占めています。ただ、それらに対するお客様 の声が直接我々のもとに届くことはありません。お客様の「声なき声」を どう把握すればよいかと考えていた時に、インサイトテックの「不満イン サイトデータ」を知りました。今ではデータを継続的に把握し、様々な商 品開発や改善提案などにつなげています。</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<ul class="items list-unstyled">
					<li>
						<h4 class="text-center">その他のサービスご利用企業様</h4>

						<div class="row">
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 text-center"><img src="../assets/images/company/logo_3.png" class="img-fluid"></div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 text-center"><img src="../assets/images/company/logo_4.png" class="img-fluid"></div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 text-center"><img src="../assets/images/company/logo_5.png" class="img-fluid"></div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 text-center"><img src="../assets/images/company/logo_6.png" class="img-fluid"></div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 text-center"><img src="../assets/images/company/logo_7.png" class="img-fluid"></div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 text-center"><img src="../assets/images/company/logo_9.png" class="img-fluid"></div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 text-center"><img src="../assets/images/company/logo_10.png" class="img-fluid"></div>
							<div class="col-lg-3 col-md-6 col-sm-6 col-6 text-center"><img src="../assets/images/company/logo_11.png" class="img-fluid"></div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-8 col-md-6 col-sm-6 col-6 text-right">
				
			</div>
			<div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6 col-6 text-right">
				<a href="http://resource.insight-tech.co.jp/article/77/release.pdf"><img src="../assets/images/case-study-footer.png" class="img-fluid"></a>
			</div>
		</div>
	</div>
</section>