<section class="dissatisfaction-data">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<p class="intro">インサイトテックが「不満買取センター」で収集した「不満インサイトデータ」を、マーケティングや商品開発につながる形に「価値化」し、マーケティングレポートとしてご提言します。</p>
			</div>
		</div>

		<div class="intro-2">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 col-6 offset-lg-2">
					<img src="../assets/images/dissatisfaction-icon.png" class="img-fluid">
					<p>インサイトテックが<br>保有する生活者の声</p>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 col-6">
					<span class="count">8,872,85</span> <span class="m">件</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<ul class="items list-unstyled">
					<li>
						<p class="text-center mb-0"><h3 class="text-center">「不満インサイトデータ」活用サービスの特徴</h3></p>
						<p>アンケートでは決して集まらない「ノンバイアス」の不満から見えるインサイトをAIとマーケティング 知見であぶり出します。</p>
						<p class="text-center"><img src="../assets/images/connector.png" class="img-fluid"></p>
					</li>

					<li>
						<p class="text-center mb-0"><h3 class="text-center">「不満インサイトデータ」活用サービスメニュー</h3></p>
						<p>膨大な不満インサイトデータを、ITASによる分析と 組み合わせて活用するサービスも提供いたします。<br>詳しくはお問い合わせください。</p>
						<p class="text-center"><img src="../assets/images/second-tech.png" class="img-fluid"></p>
					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6 col-6 offset-md-6 offset-sm-6 offset-6 d-lg-none d-md-block d-sm-block d-block text-right mb-3">
				<a href="http://resource.insight-tech.co.jp/article/77/release.pdf"><img src="../assets/images/dissatisfaction-data-footer.png" class="img-fluid"></a>
			</div>
			<div class="col-lg-4 offset-lg-4 col-md-12 col-sm-12 col-12 text-right">
				<p class="text-center"><a href="../data/pdf/it_postdata_sample.pdf" class="btn btn-lg" download="it_postdata_sample.pdf">サンプルデータ</a></p>
				<p class="text-center mb-0 text-shrinked">PDFでサンプルデータをダウンロードいただけます。</p>
			</div>
			<div class="col-lg-3 offset-lg-1 d-lg-block d-md-none d-sm-none d-none text-right">
				<a href="http://resource.insight-tech.co.jp/article/77/release.pdf"><img src="../assets/images/dissatisfaction-data-footer.png" class="img-fluid"></a>
			</div>
		</div>
	</div>
</section>