<footer class="site-footer">
	<div class="container">
		<div class="footer-widget">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="widget company-overview">
						<h4 class="title">企業概要</h4>

						<div class="row">
							<div class="col-md-5 col-sm-5 col-5">
								<p>
									<span>企業名</span> 株式会社 Insight Tech<br>
									<span>代表者</span> 伊藤友博<br>
									<span>設立日</span> 2012年6月<br>
									<span>資本金</span> 1,000万円<br>
								</p>
							</div>
							<div class="col-md-7 col-sm-7 col-7">
								<p>事業内容<br>
								マーケティング調査やレポート作成<br>
								自然言語処理・機械学習などの人工知能を<br>
								利用したデータ解析受託企業<br>
								プロモーションやブランディングサポート</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="widget">
						<h4 class="title">アクセス</h4>

						<div class="row">
							<div class="col-md-6">
								<p>〒163‒1333東京都新宿区西新宿6‒5‒1<br>新宿アイランドタワー</p>
								<p>TEL 03‒3342‒6710<br>FAX 03‒3342‒4944</p>
							</div>
							<div class="col-md-6 embed-responsive embed-responsive-16by9">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.341258403605!2d139.69094331525926!3d35.69321898019148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d3b7d212bd9%3A0xdc3a997c3b2430c4!2z5qCq5byP5Lya56S-IEluc2lnaHQgVGVjaA!5e0!3m2!1sja!2sbd!4v1539591617639" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="widget">
						<h4 class="title">SNS</h4>
						<p class="text-center social">
							<a href="https://www.facebook.com/insight.tech.co.jp" target="_blank"><img src="../assets/images/facebook.png"></a>
							<a href="https://twitter.com/fumanlove" target="_blank"><img src="../assets/images/twitter.png"></a>
						</p>
						<p>インサイトテックに関する最新情報や、当社が運営する「不満買取センター」に 関する情報を発信しています。</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<a href="http://lab.insight-tech.co.jp/">
						<div class="widget">
							<h4 class="title">インサイトテックラボ</h4>
							<p class="text-center"><img src="../assets/images/logo_white.png"></p>
							<p>話題のテーマやトレンドに着目し自主調査レポートやコラムを発信しています。 プレスリリース、ニュースもご覧いただけます。</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		
		<div class="copyright">
			<img src="../assets/images/logo-footer.png">
			<p>Copyright© Insight Tech Ltd. All rights reserved.</p>
		</div>
	</div>
</footer>