<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerNav" aria-controls="headerNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="headerNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="news.html">最新情報</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#itas">ITAS</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#discontent-data">不満データ</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#academia-collaboration">技術力</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#case-study">事例紹介</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#team">理念と人</a></li>
                    <li class="nav-item"><a class="nav-link" href="index.html#company-profile">会社概要</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>