<section class="home-banner">
	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 d-md-none d-lg-block"></div>
				<div class="col-lg-3 col-md-5 col-sm-5 col-6 text-center">
					<h4>個人の方はこちら</h4>
					<a class="btn" href="http://fumankaitori.com/">不満買取センター</a>
				</div>
				<div class="col-md-5 col-sm-5 col-5 offset-md-2 offset-sm-2 offset-1 d-lg-none text-right logo-wrap">
					<img class="img-fluid" src="../assets/images/banner-logo.png" alt="InsightTech Banner Logo">
				</div>
			</div>
		</div>
	</div>

	<div class="overlay">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-sm-12">
					<h2>最先端の文章解析AIと世界唯一のデータを<br>企業の課題解決に活かす。</h2>
				</div>
				<div class="col-lg-3 d-none d-sm-none d-md-none d-lg-block logo-wrap text-right">
					<img class="img-fluid" src="../assets/images/banner-logo.png" alt="InsightTech Banner Logo">
				</div>
			</div>
		</div>
	</div>

	<div class="icon">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-9 col-sm-9 col-9"></div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-3 text-right">
					<img class="img-fluid" src="../assets/images/banner-icon.png" alt="InsightTech Banner Icon">
				</div>
			</div>
		</div>
	</div>
</section>