<section class="itas">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 offset-lg-4 col-md-6 col-sm-6 col-6 offset-md-3 offset-sm-3 offset-3 text-right">
				<img src="../assets/images/the-power-logo-1.png" class="img-fluid">
			</div>
		</div>

		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<p class="intro">インサイトテックでは、独自開発した文章解析AI「ITAS（アイタス）」を活用したサービスを提供しています。貴社が保有する「お客さまの声」「営業週報」「特許・論文」「レビューデータ」といったテキストデータを解析し、ビジネス課題の解決をサポートします。<br>汎用AIエンジンとして商用化済みで明日からでも最新の文章解析技術を活用できます。</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12 col-12">
				<div class="item">
					<div class="item-container">
						<p class="text-center"><button type="button">意見タグAI</button></p>
						<div class="step-one">
							<p>お客さまの声や社員の週報、商品レビュー、満足度調査などのテキストデータから、意見性のあるフレーズを「意見タグ」として抽出します。</p>
						</div>

						<div class="step-two d-none">
							<p class="mb-3">文章を「構文解析」。「何に対する」「どんな意見なのか」を「意見対象部」と「意見述部」として構造化。</p>
							<img src="../assets/images/itas/ITAS_1.png" class="img-fluid mb-3">
							<button type="button">単語ベースではない理解を可能にします。</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-12 col-sm-12 col-12">
				<div class="item">
					<div class="item-container">
						<p class="text-center"><button type="button">可視化AI</button></p>
						<div class="step-one">
							<p>「意見タグ」の内容が類似するもの同士を集約・分類し、「可視化マップ」としてわかりやすくビジュアル化します。</p>
						</div>

						<div class="step-two d-none">
							<p class="mb-3">意味合いが類似する「意見タグ」を自動的に分類・グルーピング。これを「可視化マップ」としてマッピング。</p>
							<img src="../assets/images/itas/ITAS_2.png" class="img-fluid mb-3">
							<button type="button">意見全体のスピーディな俯瞰を可能にします。</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6 col-md-12 col-sm-12 col-12">
				<div class="item">
					<div class="item-container reverse">
						<p class="text-center"><button type="button">感情分類AI</button></p>
						<div class="step-one">
							<p>お客さまの声などのテキストデータに含まれる感情を判定して分類します。特に負の感情については嫌気、怒り、あきらめ・失望に分類します。</p>
						</div>

						<div class="step-two d-none">
							<p class="mb-3">文章を「節」で分割し、節単位の感情を分類。ネガティブについては「低不満」「嫌気」「怒り」「あきらめ・失望」に細分化。</p>
							<img src="../assets/images/itas/ITAS_3.png" class="img-fluid mb-3">
							<button type="button">意見の優先順位付けを可能にします。</button>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6 col-md-12 col-sm-12 col-12">
				<div class="item">
					<div class="item-container reverse">
						<p class="text-center"><button type="button" class="btn-black">AI活用コンサルティング</button></p>
						<div class="step-one">
							<p>課題解決に向けAIの最適な組み合わせをコンサルティング。テキストデータ以外のビッグデータとの組み合わせや貴社向けの環境構築も可能です。</p>
						</div>

						<div class="step-two d-none">
							<p class="mb-3">AIをどう組み合わせれば「課題解決」につながるのかをご提言します。アプリケーション開発も対応可能です。</p>
							<img src="../assets/images/itas/ITAS_4.png" class="img-fluid mb-3">
							<button type="button">確実な業務活用をご一緒します。</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6 col-6 offset-md-6 offset-sm-6 offset-6 d-lg-none d-md-block d-sm-block d-block text-right mb-3">
				<a href="http://lab.insight-tech.co.jp/articles/68/"><img src="../assets/images/itas-footer.png" class="img-fluid"></a>
			</div>
			<div class="col-lg-4 offset-lg-4 col-md-12 col-sm-12 col-12 text-right">
				<p class="text-center mb-0"><a href="contact.html" class="btn btn-lg">お問い合わせはこちら</a></p>
			</div>
			<div class="col-lg-3 offset-lg-1 d-lg-block d-md-none d-sm-none d-none text-right">
				<a href="http://lab.insight-tech.co.jp/articles/68/"><img src="../assets/images/itas-footer.png" class="img-fluid"></a>
			</div>
		</div>
	</div>
</section>