<section class="team">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<p class="intro">インサイトテックはAI技術と、それを支える人の力でよりよい明日を生み出すチームでありたいと考えています。</p>

				<div class="president">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-6 col-6">
							<img src="../assets/images/team-1.png" class="img-fluid">
							<div class="d-lg-none d-xl-none mt-3">
								<p class="small">代表取締役社長<br>伊藤 友博</p>
								<p class="small">早稲田大学院建設工学修了、三菱総合研究所に入社。<br>
								ビッグデータマーケティング、AI（人工知能）を活用した<br>
								新事業開発を牽引。2017年代表取締役社長として参画。</p>
							</div>
						</div>
						<div class="col-lg-8 col-md-6 col-sm-6 col-6">
							<p>「インサイト（Insight）」という言葉には“物事を深く洞察し、 その本質を見抜く”という意味があります。私たちインサイトテッ クは、AIを中心とした「テクノロジー（Tech）」を活用して社会 の多様な課題解決に貢献することを使命と定め、その思いを社名 に込めています。インサイトテックには、その思いを実現するた めの優れたAIアナリストとマーケティングに精通した高い専門性 を持った人材が集まっています。AIとチームの力で、明日を切り拓く。その言葉を胸に、インサイトテックは進んでいきます。</p>

							<div class="d-lg-block d-md-none d-sm-none d-none">
								<p class="small">代表取締役社長<br>伊藤 友博</p>
								<p class="small">早稲田大学院建設工学修了、三菱総合研究所に入社。<br>
								ビッグデータマーケティング、AI（人工知能）を活用した<br>
								新事業開発を牽引。2017年代表取締役社長として参画。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<img src="../assets/images/team.png" class="img-fluid">
			</div>
		</div>

		<div class="members">			
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<p class="d-lg-block d-md-block d-sm-none d-none">メンバー紹介</p>

					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6 col-6">
							<img src="../assets/images/people/people-1.png" class="img-fluid">
							<p class="nd">執行役員 営業部長<br>中村 紘彦</p>
							<p class="desc">甲南大学文学部卒。上場企業営業マネージャーとして年間MVP、 社長賞ベストマネージャー賞獲得を経て現職。</p>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-6">
							<img src="../assets/images/people/people-2.png" class="img-fluid">
							<p class="nd">マーケティング部長<br>篠田 悟</p>
							<p class="desc">早稲田大学卒、インテージ、野村総合研究所を経て、ロイヤリティ マーケティングでリサーチ事業を立ち上げ運営。2017年5月に参画。</p>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-6">
							<img src="../assets/images/people/people-3.png" class="img-fluid">
							<p class="nd">データサイエンティスト<br>三澤 賢祐</p>
							<p class="desc">奈良先端科学技術大学院大学情報科学研究科修了。ドリコムでソーシャルゲームのログデータ解析の経験を経て2015年より現職。</p>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-6">
							<img src="../assets/images/people/people-4.png" class="img-fluid">
							<p class="nd">データサイエンティスト<br>成田 和弥</p>
							<p class="desc">東北大学大学院情報科学研究科修了。同研究科研究員を経て2016年より現職。博士（情報科学）。</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6 col-6">
							<img src="../assets/images/people/people-5.png" class="img-fluid">
							<p class="nd">ディレクター<br>原 悠生</p>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-6">
							<img src="../assets/images/people/people-6.png" class="img-fluid">
							<p class="nd">経営企画(兼 人事)マネージャー<br>矢納 弘貴</p>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-6">
							<img src="../assets/images/people/people-7.png" class="img-fluid">
							<p class="nd">営業部マネージャー<br>斎藤 雅史</p>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-6">
							<img src="../assets/images/people/people-8.png" class="img-fluid">
							<p class="nd">カスタマーサポート<br>豊嶋 雅美</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6 col-6 offset-md-6 offset-sm-6 offset-6 d-lg-none d-md-block d-sm-block d-block text-right mb-3">
				<a href="#"><img src="../assets/images/team-footer.png" class="img-fluid"></a>
			</div>
			<div class="col-lg-4 offset-lg-4 col-md-12 col-sm-12 col-12 text-right">
				<p class="text-center"><a href="https://en-gage.net/insight-tech" class="btn btn-lg">リクルートサイトへ</a></p>
				<p class="text-center mb-0 text-shrinked">AIを活用したさまざまな課題解決に共に取り組むメンバーを募集しています。</p>
			</div>
			<div class="col-lg-3 offset-lg-1 d-lg-block d-md-none d-sm-none d-none text-right">
				<a href="#"><img src="../assets/images/team-footer.png" class="img-fluid"></a>
			</div>
		</div>
	</div>
</section>