<section class="news">
	<div class="container">
		<div class="row">
			<ul class="items list-unstyled">
				<li>
					<p class="text-center"><button type="button">意見タグAI</button></p>
					<p>お客さまの声や社員の週報、商品レビュー、満足度 調査などのテキストデータから、意見性のあるフ レーズを「意見タグ」として抽出します。</p>
					<img src="../assets/images/connector.png" class="img-fluid">
					<p class="text-center"><button type="button" class="btn-alt">単語ベースではない理解を可能にします。</button></p>
				</li>

				<li>
					<p class="text-center"><button type="button">可視化AI</button></p>
					<p>お客さまの声や社員の週報、商品レビュー、満足度 調査などのテキストデータから、意見性のあるフ レーズを「意見タグ」として抽出します。</p>
					<img src="../assets/images/connector.png" class="img-fluid">
					<p class="text-center"><button type="button" class="btn-alt">意見全体のスピーディな俯瞰を可能にします。</button></p>
				</li>

				<li>
					<p class="text-center"><button type="button">感情分類AI</button></p>
					<p>お客さまの声や社員の週報、商品レビュー、満足度 調査などのテキストデータから、意見性のあるフ レーズを「意見タグ」として抽出します。</p>
					<img src="../assets/images/connector.png" class="img-fluid">
					<p class="text-center"><button type="button" class="btn-alt">意見の優先順位付けを可能にします。</button></p>
				</li>

				<li>
					<p class="text-center"><button type="button">AI活用コンサルティング</button></p>
					<p>お客さまの声や社員の週報、商品レビュー、満足度 調査などのテキストデータから、意見性のあるフ レーズを「意見タグ」として抽出します。</p>
					<img src="../assets/images/connector.png" class="img-fluid">
					<p class="text-center"><button type="button" class="btn-alt">確実な業務活用をご一緒します。</button></p>
				</li>
			</ul>
		</div>
	</div>
</section>